spring:
  config:
    activate:
      on-profile: prod

  datasource:
    url: jdbc:mysql://IP_DEL_SERVER:3306/flashpage
    username: ${DB_USER}
    password: ${DB_PASS}
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: false

logging:
  level:
    root: INFO
