server:
  port: 8080

spring:
  application:
    name: flashpage-backend
  profiles:
    active: dev


  jackson:
    time-zone: America/Argentina/Buenos_Aires
    serialization:
      write-dates-as-timestamps: false

  jpa:
    open-in-view: false
    properties:
      hibernate:
        format_sql: true

logging:
  level:
    root: INFO
    org.hibernate.SQL: DEBUG
